<div>
    <h1>Login Page</h1>
    <form action="/auth/login" method="POST">
         <div class="form-group">
             <label for="username">Username:</label>
             <input type="text" class="form-control" id="username" name="username" placeholder="Username........">
         </div>

          <div class="form-group">
             <label for="password">Password:</label>
             <input type="text" class="form-control" id="password" name="password" placeholder="Password........">
         </div>

         <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <a href="/auth/register">Nếu chưa có tài khoản, Ấn vào đây để tạo tài khoản</a>
    
</div>