@charset "UTF-8";
.card-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 16px;
  /* Khoảng cách giữa các thẻ */ }

.card {
  box-sizing: border-box; }

.card-img-top {
  width: 100%;
  /* Để hình ảnh chiếm toàn bộ chiều rộng của thẻ */
  height: auto;
  /* Giữ tỷ lệ khung hình của hình ảnh */ }

.card-body {
  padding: 16px;
  /* Khoảng cách bên trong thẻ */ }

#shopping-carts {
  width: 40px;
  height: 40px; }

#userImage {
  width: 40px;
  /* Đặt chiều rộng của ảnh */
  height: 40px;
  /* Đặt chiều cao của ảnh */
  border-radius: 50%;
  /* Bo tròn ảnh */
  object-fit: cover;
  /* Đảm bảo ảnh không bị biến dạng */ }
