
      <div class="box-video">
            <h1>{{courseObject.name}}</h1>
            <iframe width="840" height="480" src="https://www.youtube.com/embed/{{courseObject.videoId}}?si=baDw49GAg31bFJHL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>{{courseObject.description}}</p>
      </div>