<h1>Đăng khóa học</h1>

<div>
    <form action="/admin/course/create" method="POST">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Tên khóa học">
        </div>

        <div class="form-group">
            <label for="description">Mô tả</label>
            <input type="text" id="description" name="description" class="form-control" placeholder="Mô tả chi tiết về khóa học">
        </div>

        <div class="form-group">
            <label for="videoId">Đường dẫn video</label>
            <input type="text" id="videoId" name="videoId" class="form-control" placeholder="Đường dẫn video khóa học">
        </div>

         <div class="form-group">
            <label for="price">Giá tiền khóa học</label>
            <input type="number" id="price" name="price" class="form-control" placeholder="Giá tiền khóa học">
        </div>
        <button type="submit" class="btn btn-primary">Đăng khóa học</button>
    </form>
</div>